* {
	box-sizing: border-box;
	font-family: Helvetica, Arial;
	font-weight: 300;
	margin:0px;
	padding:0px;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

header {
	height:100px;
	background: #FFF;
	position:relative;
}

header .title {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:70px;
	background:#253C6C;
	color: white;
}

.title h1 {
	line-height: 20px;
	font-size: 20px;
	padding-top: 10px;
	margin: 0px;
	font-weight: 400;
	padding-left: 12px;
}

header .menubar {
	position:absolute;
	bottom:40px;
	top:30px;
	left:0;
	right:0;
	background: #253C6C;
	color: white;
}

.sub-menu {
	display: none;
	position:absolute;
	left: 0;
	top: 30px;
	background: rgb(68, 117, 221);
	width: 180px;
	box-shadow: 0px 7px 8px -4px #777;
	border: 1px solid rgb(68, 100, 215);
	list-style: none;
}

.sub-menu > li {
	padding: 6px 30px;
	cursor: default;
}

.menu-items > li {
	display: inline-block;
	padding-top: 10px;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	height: 30px;
	z-index: 12;
	cursor: default;
}

.menu-items > li:hover {
	background: rgb(68, 117, 221);
}

.menu-items > li:hover > .sub-menu {
	display: block;
}

.sub-menu > li:hover {
	background:#253C6C;
}

header .toolbar {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:40px;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 0px rgba(254, 247, 247, 0.19) inset;
	border-top: 1px solid #2D4372;
	border-bottom: 1px solid #2D4372;
	background: transparent -moz-linear-gradient(center top , rgba(15, 62, 162, 0.8), rgba(7, 57, 131, 0.8)) repeat scroll 0% 0%;
}

.tools > * {
	display: inline-block;
	margin: 4px;
	padding: 2px;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0);
	overflow: hidden;
	color:white;
}
.tools > *:not(.divider):hover {
	background: rgb(37, 60, 108) none repeat scroll 0% 0%;
}

.tools > .divider {
	width:0px;
	height:40px;
	border-left: 1px solid #2D4372;
	border-right: 1px solid rgba(255, 255, 255, 0.13);
	padding: 0px;
	cursor: default;
	margin-top:0px;
	margin-bottom: 0px;
}

.tools li > * {
	width: 26px;
	height: 26px;
}

.tools .tool-menu {
	width: 93px;
	padding-left: 10px;
	padding-right: 5px;
}

.tools .tool-menu > :nth-child(1) {
	width: 50px;
	line-height: 26px;
}

.tools .tool-menu > * {
	float: left;
}

.tools .tool-menu .color {
	width: 20px;
	height: 20px;
	margin: 3px;
}

.tools #trashcan {
	background-image: url("../trash.png");
	background-size: cover;
}

.main {
	position:absolute;
	top:100px;
	bottom:0;
	right:0;
	left:0;
}

#edgesSvg {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	 /* Background pattern from subtlepatterns.com */
	background: url("../geometry.png");
}

.color{
	transition: background-color 0.8s ease;
	    -webkit-transition: background-color 500ms ease-out 1s;
}

.cell { background-color: white; }

.blue{ background-color: rgb(172, 172, 231); }
.teal{ background-color: rgb(89, 222, 239); }
.green{ background-color: rgb(88, 232, 167); }
.yellow{ background-color: rgb(214, 242, 130); }
.orange{ background-color: rgb(247, 209, 111); }
.red{ background-color: rgb(250, 161, 135); }
.pink{ background-color: rgb(247, 158, 212); }
.grey{ background-color: #DEDEDE; }

.not-transparent {
	opacity: 0.8 !important;
}

path {
	stroke-width: 2px;
	stroke: grey;
	stroke-linecap: round;
	fill: none;
}

.wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
}

.cell {
	position: absolute !important;
	width: 12vw !important;
	height: 2.4vw !important;
	overflow: visible;
	border: 1px solid #888;
	border-radius: 10px;
	z-index: 10;
	cursor: move;
	box-shadow: 0px 1px 0px 0px rgba(254, 247, 247, 0.5) inset;
}

.cell:hover{
	border-color:#666;
}

.cell.error {
	border-color: #EF4F4F;
}

.cell.selected {
	border-color: #118adb;
}

.cell .left{
	float:left;
	width:50%;
	height:100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background: rgba(255,255,255, 0.8);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
	background: transparent -moz-linear-gradient(center top , rgba(255, 255, 255, 0.93), rgba(255, 253, 253, 0.83)) repeat scroll 0% 0%;
}

.cell .right{
	float:right;
	width:50%;
	height:100%;
	border-left: 2px solid grey;
	margin-left: -2px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow:hidden;
	white-space: nowrap;
}

.cell p {
	text-align: center;
	font-size: 100%;
	margin:0px;
	height:100%;
	padding: 0px 9px;
	line-height: 28px;
}

.cell .left p {
	word-wrap: break-word;
}

.clear {
	clear: both;
}
