* {
	box-sizing: border-box;
	font-family: Helvetica, Arial;
	font-weight: 300;
	margin:0px;
	padding:0px;
}

body {
	font-family: Helvetica, Arial;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: rgb(99, 173, 255);
}

.clear {
	clear: both;
	padding: 0px !important;
	margin: 0px !important;
}

#edgesSvg {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:80%;
	height:100%;
	background: url("../geometry.png");
}

.colorBar {
    position: absolute;
    bottom:0;
    left:0;
    right: 20%;
    margin-right: 0px;
    margin-bottom: 30px;
}

.colorBar .color{
	height: 50px;
    margin-right: 15px;
    width: 50px;
    float:right;
    cursor:pointer;
}

.color{
	transition: background-color 0.8s ease;
	    -webkit-transition: background-color 500ms ease-out 1s;
}

.color:hover:before{
	content: "";
	display: block;
	width:50px;
	height:50px;
	background: rgba(0,0,0, 0.1);
}

.cell { background-color: white; }

.blue{ background-color: rgb(172, 172, 231); }
.teal{ background-color: rgb(89, 222, 239); }
.green{ background-color: rgb(88, 232, 167); }
.yellow{ background-color: rgb(214, 242, 130); }
.orange{ background-color: rgb(247, 209, 111); }
.red{ background-color: rgb(250, 161, 135); }
.pink{ background-color: rgb(247, 158, 212); }
.grey{ background-color: #DEDEDE; }

.cell .left { background: rgba(255,255,255, 0.8); }

.not-transparent {
	opacity: 0.8 !important;
}

path {
	stroke-width: 2px;
	stroke: grey;
	stroke-linecap: round;
	fill: none;
}

.wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:80%;
	overflow: hidden;
}

.sidebar {
	position: absolute;
	top:0;
	left:80%;
	right:0;
	bottom:0;
	overflow:hidden;
	background-color:rgb(14, 68, 128);
	padding:0;
	color: white;
	box-shadow: 0px 0px 2px 0px rgb(14, 22, 44);
}

.sidebar div {
	padding: 10px;
}

.sidebar > div:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.sidebar > div:not(:first-child){
	border-top: 1px solid rgba(255, 253, 253, 0.13);
}

.sidebar .logo {
	background: rgb(3, 33, 66) none repeat scroll 0% 0%;
	text-align: center;
	cursor: pointer;
}

.sidebar .logo h1 {
	margin-bottom: 0;
	margin-top: 0;
	line-height: 45px;
	font-size: 35px;
	text-align: center;
}

.sidebar .dominodes-graph-info {
	padding: 15px 10px !important;
}

.sidebar .dominodes-graph-info h2 {
	padding-bottom: 10px;
	float: left;
}

.sidebar .dominodes-graph-info p {
	float: left;
	color: rgba(255, 255, 255, 0.4);
}

.sidebar .dominodes-graph-info p:first-child {
	float: right;
	color: white;
}

.cell {
	position: absolute !important;
	width: 12vw !important;
	height: 2.4vw !important;
	overflow: visible;
	border: 1px solid #888;
	border-radius: 10px;
	z-index: 10;
	cursor: move;
	box-shadow: 0px 1px 0px 0px rgba(254, 247, 247, 0.5) inset;
}

.cell:hover{
	border-color:#666;
}

.cell.error {
	border-color: #EF4F4F;
}

.cell.selected {
	border-color: #118adb;
}

.cell .left{
	float:left;
	width:50%;
	height:100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background: rgba(255,255,255, 0.8);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
	background: transparent -moz-linear-gradient(center top , rgba(255, 255, 255, 0.93), rgba(255, 253, 253, 0.83)) repeat scroll 0% 0%;
}

.cell .right{
	float:right;
	width:50%;
	height:100%;
	border-left: 2px solid grey;
	margin-left: -2px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow:hidden;
	white-space: nowrap;
}

.cell p {
	text-align: center;
	font-size: 100%;
	margin:0px;
	height:100%;
	padding: 0px 9px;
	line-height: 28px;
}

.cell .left p {
	word-wrap: break-word;
}

.clear {
	clear: both;
}
